{% include 'migrate/partials/head.html' %}

<body>
    {% include 'migrate/partials/header.html' %}
    {% include 'migrate/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="post post-list-item">
                <div class="post-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
                </div>

                <div class="post-title-container">
                    <h2 class="post-title">Lorem ipsum dolor site amet.</h2>
                </div>
                <div class="post-author">
                    <span class="post-author-item">
                        <i class="fas fa-user">
                            Nome do usuário
                        </i>
                    </span>
                    <span class="post-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        16/10/2021 às 11:21
                    </span>
                    <span class="post-author-item">
                        <a href="/posts/category/sobre">
                            <i class="fas fa-later-group"></i>
                            <span>Sobre</span>
                        </a>
                    </span>
                </div>
                <div class="post-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore animi, voluptatum
                        deserunt impedit aspernatur commodi quibusdam, eveniet sed voluptates quisquam incidunt numquam
                        delectus magnam nihil aperiam sunt ratione eligendi!</p>
                </div>

                <div class="post-meta-container">
                    <div class="post-meta post-preparation">
                        <h3 class="post-meta-title"><i class="fas fa-stopwatch"></i> tema</h3>
                        <div class="post-meta-text">
                            0 minutos
                        </div>
                    </div>
                    <div class="post-meta post-servings">
                        <h3 class="post-meta-title"><i class=""></i> tema</h3>
                        <div class="post-meta-text">
                            0 tema
                        </div>
                    </div>
                </div>

                <footer class="post-footer">
                    <a class="post-read-more button button-dark button-full-width" href="/posts">
                        <i class="fas fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>

            <div class="post post-list-item">
                <div class="post-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
                </div>

                <div class="post-title-container">
                    <h2 class="post-title">Lorem ipsum dolor site amet.</h2>
                </div>
                <div class="post-author">
                    <span class="post-author-item">
                        <i class="fas fa-user">
                            Nome do usuário
                        </i>
                    </span>
                    <span class="post-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        16/10/2021 às 11:21
                    </span>
                    <span class="post-author-item">
                        <a href="/posts/category/sobre">
                            <i class="fas fa-later-group"></i>
                            <span>Sobre</span>
                        </a>
                    </span>
                </div>
                <div class="post-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore animi, voluptatum
                        deserunt impedit aspernatur commodi quibusdam, eveniet sed voluptates quisquam incidunt numquam
                        delectus magnam nihil aperiam sunt ratione eligendi!</p>
                </div>

                <div class="post-meta-container">
                    <div class="post-meta post-preparation">
                        <h3 class="post-meta-title"><i class="fas fa-stopwatch"></i> tema</h3>
                        <div class="post-meta-text">
                            0 minutos
                        </div>
                    </div>
                    <div class="post-meta post-servings">
                        <h3 class="post-meta-title"><i class=""></i> tema</h3>
                        <div class="post-meta-text">
                            0 tema
                        </div>
                    </div>
                </div>

                <footer class="post-footer">
                    <a class="post-read-more button button-dark button-full-width" href="/posts">
                        <i class="fas fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>

            <div class="post post-list-item">
                <div class="post-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
                </div>

                <div class="post-title-container">
                    <h2 class="post-title">Lorem ipsum dolor site amet.</h2>
                </div>
                <div class="post-author">
                    <span class="post-author-item">
                        <i class="fas fa-user">
                            Nome do usuário
                        </i>
                    </span>
                    <span class="post-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        16/10/2021 às 11:21
                    </span>
                    <span class="post-author-item">
                        <a href="/posts/category/sobre">
                            <i class="fas fa-later-group"></i>
                            <span>Sobre</span>
                        </a>
                    </span>
                </div>
                <div class="post-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore animi, voluptatum
                        deserunt impedit aspernatur commodi quibusdam, eveniet sed voluptates quisquam incidunt numquam
                        delectus magnam nihil aperiam sunt ratione eligendi!</p>
                </div>

                <div class="post-meta-container">
                    <div class="post-meta post-preparation">
                        <h3 class="post-meta-title"><i class="fas fa-stopwatch"></i> tema</h3>
                        <div class="post-meta-text">
                            0 minutos
                        </div>
                    </div>
                    <div class="post-meta post-servings">
                        <h3 class="post-meta-title"><i class=""></i> tema</h3>
                        <div class="post-meta-text">
                            0 tema
                        </div>
                    </div>
                </div>

                <footer class="post-footer">
                    <a class="post-read-more button button-dark button-full-width" href="/posts">
                        <i class="fas fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>

            <div class="post post-list-item">
                <div class="post-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
                </div>

                <div class="post-title-container">
                    <h2 class="post-title">Lorem ipsum dolor site amet.</h2>
                </div>
                <div class="post-author">
                    <span class="post-author-item">
                        <i class="fas fa-user">
                            Nome do usuário
                        </i>
                    </span>
                    <span class="post-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        16/10/2021 às 11:21
                    </span>
                    <span class="post-author-item">
                        <a href="/posts/category/sobre">
                            <i class="fas fa-later-group"></i>
                            <span>Sobre</span>
                        </a>
                    </span>
                </div>
                <div class="post-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore animi, voluptatum
                        deserunt impedit aspernatur commodi quibusdam, eveniet sed voluptates quisquam incidunt numquam
                        delectus magnam nihil aperiam sunt ratione eligendi!</p>
                </div>

                <div class="post-meta-container">
                    <div class="post-meta post-preparation">
                        <h3 class="post-meta-title"><i class="fas fa-stopwatch"></i> tema</h3>
                        <div class="post-meta-text">
                            0 minutos
                        </div>
                    </div>
                    <div class="post-meta post-servings">
                        <h3 class="post-meta-title"><i class=""></i> tema</h3>
                        <div class="post-meta-text">
                            0 tema
                        </div>
                    </div>
                </div>

                <footer class="post-footer">
                    <a class="post-read-more button button-dark button-full-width" href="/posts">
                        <i class="fas fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>

            <div class="post post-list-item">
                <div class="post-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
                </div>

                <div class="post-title-container">
                    <h2 class="post-title">Lorem ipsum dolor site amet.</h2>
                </div>
                <div class="post-author">
                    <span class="post-author-item">
                        <i class="fas fa-user">
                            Nome do usuário
                        </i>
                    </span>
                    <span class="post-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        16/10/2021 às 11:21
                    </span>
                    <span class="post-author-item">
                        <a href="/posts/category/sobre">
                            <i class="fas fa-later-group"></i>
                            <span>Sobre</span>
                        </a>
                    </span>
                </div>
                <div class="post-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore animi, voluptatum
                        deserunt impedit aspernatur commodi quibusdam, eveniet sed voluptates quisquam incidunt numquam
                        delectus magnam nihil aperiam sunt ratione eligendi!</p>
                </div>

                <div class="post-meta-container">
                    <div class="post-meta post-preparation">
                        <h3 class="post-meta-title"><i class="fas fa-stopwatch"></i> tema</h3>
                        <div class="post-meta-text">
                            0 minutos
                        </div>
                    </div>
                    <div class="post-meta post-servings">
                        <h3 class="post-meta-title"><i class=""></i> tema</h3>
                        <div class="post-meta-text">
                            0 tema
                        </div>
                    </div>
                </div>

                <footer class="post-footer">
                    <a class="post-read-more button button-dark button-full-width" href="/posts">
                        <i class="fas fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>

            <div class="post post-list-item">
                <div class="post-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
                </div>

                <div class="post-title-container">
                    <h2 class="post-title">Lorem ipsum dolor site amet.</h2>
                </div>
                <div class="post-author">
                    <span class="post-author-item">
                        <i class="fas fa-user">
                            Nome do usuário
                        </i>
                    </span>
                    <span class="post-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        16/10/2021 às 11:21
                    </span>
                    <span class="post-author-item">
                        <a href="/posts/category/sobre">
                            <i class="fas fa-later-group"></i>
                            <span>Sobre</span>
                        </a>
                    </span>
                </div>
                <div class="post-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore animi, voluptatum
                        deserunt impedit aspernatur commodi quibusdam, eveniet sed voluptates quisquam incidunt numquam
                        delectus magnam nihil aperiam sunt ratione eligendi!</p>
                </div>

                <div class="post-meta-container">
                    <div class="post-meta post-preparation">
                        <h3 class="post-meta-title"><i class="fas fa-stopwatch"></i> tema</h3>
                        <div class="post-meta-text">
                            0 minutos
                        </div>
                    </div>
                    <div class="post-meta post-servings">
                        <h3 class="post-meta-title"><i class=""></i> tema</h3>
                        <div class="post-meta-text">
                            0 tema
                        </div>
                    </div>
                </div>

                <footer class="post-footer">
                    <a class="post-read-more button button-dark button-full-width" href="/posts">
                        <i class="fas fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>

        </div>
    </main>
</body>

</html>